.custom-button {
  max-width: 165px;
  width: auto;
  height: 50px;
  letter-spacing: 0.5px;
  line-height: 50px;
  padding: 0 10px;
  font-size: 15px;
  background-color: #303030;
  color: #f1f1f1;
  text-transform: uppercase;
  font-family: "Open Sans Condensed";
  font-weight: bolder;
  border: none;
  cursor: pointer;
  transition: all 350ms ease-out;
  border: 1px solid #303030;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;

  &:hover {
    background-color: #f1f1f1;
    color: #303030;
  }

  &.google-sign-in {
    background-color: #4285f4;
    color: #f1f1f1;
    border: 1px solid #4285f4;

    &:hover {
      background-color: #f1f1f1;
      color: #4285f4;
    }
  }

  &.inverted {
    background-color: #f1f1f1;
    color: #303030;
    border: 1px solid black;

    &:hover {
      background-color: #303030;
      color: #f1f1f1;
    }
  }
}
