/* width */
::-webkit-scrollbar {
  width: 10px;
  transition: all 350ms ease-out;
}

/* Track */
::-webkit-scrollbar-track {
  background: #d0d0d0;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #525252;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #414141;
}

.fade-in-appear {
  opacity: 0.1;
  transform: translate(0, -50px);
}
.fade-in-appear.fade-in-appear-active {
  opacity: 1;
  transform: translate(0, 0);
  transition: opacity 500ms ease-in, transform 300ms ease-in;
}

.fade-in-appear-done {
  opacity: 1;
  transform: translate(0, 0px);
}
