.empty-message {
  font-size: 32px;
  text-align: center;
  padding: 0px 20px 20px 20px;
}

.cart-items {
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  align-items: center;
}

.buttons {
  margin-top: auto;
  display: flex;
  justify-content: space-between;
  font-size: 48px;
  line-height: 0;
  margin: 20px 0 0 0;

  &__close {
    color: #303030;
    cursor: pointer;
    border-radius: 8px;
    transition: all 350ms ease-out;
    border: 1px solid #303030;

    &:hover {
      background-color: #303030;
      color: #f1f1f1;
    }
  }
}

/* width */
::-webkit-scrollbar {
  width: 10px;
  transition: all 350ms ease-out;
}

/* Track */
::-webkit-scrollbar-track {
  background: #d0d0d0;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #525252;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #414141;
}

.fade-in-appear {
  opacity: 0.1;
  transform: translate(0, -50px);
}
.fade-in-appear.fade-in-appear-active {
  opacity: 1;
  transform: translate(0, 0);
  transition: opacity 500ms ease-in, transform 300ms ease-in;
}

.fade-in-appear-done {
  opacity: 1;
  transform: translate(0, 0px);
}
