.directory-menu {
  width: 100%;
  margin: 0 auto;
  display: grid;
  grid-gap: 10px;
  grid-template-rows: minmax(150px, 300px) minmax(275px, 450px);
  grid-template-columns:
    minmax(90px, 300px)
    minmax(90px, 300px)
    minmax(90px, 300px)
    minmax(90px, 300px)
    minmax(90px, 300px)
    minmax(90px, 300px);
  grid-template-areas:
    "hats hats jackets jackets sneakers sneakers"
    "womens womens womens mens mens mens";

  &__item {
    &--hats {
      grid-area: hats;
    }
    &--jackets {
      grid-area: jackets;
    }
    &--sneakers {
      grid-area: sneakers;
    }
    &--womens {
      grid-area: womens;
    }

    &--mens {
      grid-area: mens;
    }
  }
}

@media (max-width: 768px) {
  .directory-menu {
    grid-template-rows:
      minmax(100px, 250px)
      minmax(100px, 250px)
      minmax(100px, 250px)
      minmax(100px, 250px);
    grid-template-columns:
      minmax(90px, 500px)
      minmax(90px, 500px);
    grid-template-areas:
      "hats hats"
      "jackets sneakers"
      "womens womens"
      "mens mens";
  }
}

@media (max-width: 550px) {
  .directory-menu {
    grid-template-rows:
      minmax(100px, 250px)
      minmax(100px, 250px)
      minmax(100px, 250px)
      minmax(100px, 250px)
      minmax(100px, 250px);
    grid-template-columns: minmax(90px, 1fr);
    grid-template-areas:
      "hats"
      "jackets"
      "sneakers"
      "womens"
      "mens";
  }
}
