.header {
  height: 70px;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  opacity: 0.95;
  background-color: #f1f1f1;
}

.header .header-container {
  max-width: 1300px;
  margin: 0 auto;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 60px;
  height: 100%;
}

.header .logo-container {
  max-width: 70px;
}

.header .logo-container img {
  width: 100%;
}

.header .options {
  width: 50%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  position: relative;
}

.header .options .option {
  padding: 10px 15px;
  cursor: pointer;
}

.header .options .cart-dropdown {
  -webkit-transition: max-height 1s ease-out, opacity 500ms ease-out, -webkit-transform 350ms ease-out;
  transition: max-height 1s ease-out, opacity 500ms ease-out, -webkit-transform 350ms ease-out;
  transition: max-height 1s ease-out, opacity 500ms ease-out, transform 350ms ease-out;
  transition: max-height 1s ease-out, opacity 500ms ease-out, transform 350ms ease-out, -webkit-transform 350ms ease-out;
  opacity: 1;
  -webkit-transform: translateY(0);
          transform: translateY(0);
  pointer-events: all;
  width: 340px;
  max-height: 170px;
}

.header .options .cart-dropdown--zoom {
  -webkit-transition: max-height 1s ease-out, opacity 500ms ease-out, -webkit-transform 350ms ease-out;
  transition: max-height 1s ease-out, opacity 500ms ease-out, -webkit-transform 350ms ease-out;
  transition: max-height 1s ease-out, opacity 500ms ease-out, transform 350ms ease-out;
  transition: max-height 1s ease-out, opacity 500ms ease-out, transform 350ms ease-out, -webkit-transform 350ms ease-out;
  max-height: 192px;
}

.header .options .cart-dropdown--zoom1 {
  -webkit-transition: max-height 1s ease-out, opacity 500ms ease-out, -webkit-transform 350ms ease-out;
  transition: max-height 1s ease-out, opacity 500ms ease-out, -webkit-transform 350ms ease-out;
  transition: max-height 1s ease-out, opacity 500ms ease-out, transform 350ms ease-out;
  transition: max-height 1s ease-out, opacity 500ms ease-out, transform 350ms ease-out, -webkit-transform 350ms ease-out;
  max-height: 292px;
}

.header .options .cart-dropdown--zoom2 {
  -webkit-transition: max-height 1s ease-out, opacity 500ms ease-out, -webkit-transform 350ms ease-out;
  transition: max-height 1s ease-out, opacity 500ms ease-out, -webkit-transform 350ms ease-out;
  transition: max-height 1s ease-out, opacity 500ms ease-out, transform 350ms ease-out;
  transition: max-height 1s ease-out, opacity 500ms ease-out, transform 350ms ease-out, -webkit-transform 350ms ease-out;
  max-height: 392px;
}

.header .options .cart-dropdown--hidden {
  -webkit-transition: opacity 500ms ease-out, -webkit-transform 350ms ease-out;
  transition: opacity 500ms ease-out, -webkit-transform 350ms ease-out;
  transition: transform 350ms ease-out, opacity 500ms ease-out;
  transition: transform 350ms ease-out, opacity 500ms ease-out, -webkit-transform 350ms ease-out;
  -webkit-transform: translateY(-50px);
          transform: translateY(-50px);
  opacity: 0;
  pointer-events: none;
}
/*# sourceMappingURL=header.styles.css.map */