.remove-button {
  cursor: pointer;
  color: #f1f1f1;
}

.fade-out-enter.fade-out-enter-active {
  transform: translate(0, -200px);
  transition: all 500ms ease-out;
  opacity: 0;
  background-color: #f1f1f1;
  color: #303030;
  z-index: -1;

  .remove-button {
    color: #303030;
  }
}

.fade-out-exit.fade-out-exit-active {
  transform: translate(0, -200px);
  background-color: #f1f1f1;
  opacity: 0;
  color: #303030;
  z-index: -1;

  .remove-button {
    color: #303030;
  }
}

.fade-out-exit-done {
  transform: translate(0, -200px);
  opacity: 0;
  background-color: #f1f1f1;
  color: #303030;
  z-index: -1;

  .remove-button {
    color: #303030;
  }
}

@media (max-width: 768px) {
  .checkout-item {
    flex-direction: column;
    height: 490px;
    max-width: 500px;
    width: auto;
    margin: 0;

    &__inner {
      width: 100%;

      &:nth-child(2) {
        &::before {
          background-color: #858585;
          color: #303030;
          font-weight: 700;
          width: 100%;
          text-align: center;
          margin: 5px 0;
          content: "Description: ";
        }

        display: flex;
        flex-direction: column;

        &::after {
          content: "";
          margin: 8px 0;
          width: 100%;
          height: 3px;
          background-color: #f1f1f1;
        }
      }

      &:nth-child(3) {
        &::before {
          content: "Quantity: ";
          text-align: center;
          grid-area: topSide;
          background-color: #858585;
          color: #303030;
          font-weight: 700;
          width: 100%;
          text-align: center;
          margin: 5px 0;
        }

        display: grid;
        grid-template-areas:
          "topSide topSide topSide"
          "leftSide mid rightSide"
          "bottomSide bottomSide bottomSide";
        grid-template-rows: 1fr 1fr 19px;
        grid-template-columns: 1fr 1fr 1fr;

        &::after {
          content: "";
          margin: 8px 0;
          width: 100%;
          height: 3px;
          background-color: #f1f1f1;
          grid-area: bottomSide;
        }
      }

      &:nth-child(4) {
        &::before {
          content: "Price: ";
          background-color: #858585;
          color: #303030;
          font-weight: 700;
          width: 100%;
          text-align: center;
          margin: 5px 0;
        }

        display: flex;
        flex-direction: column;

        &::after {
          content: "";
          margin: 8px 0;
          width: 100%;
          height: 3px;
          background-color: #f1f1f1;
        }
      }

      &:nth-child(5) {
        &::before {
          content: "Remove: ";
          background-color: #858585;
          color: #303030;
          font-weight: 700;
          width: 100%;
          text-align: center;
          margin: 5px 0;
        }

        display: flex;
        flex-direction: column;
      }
    }
  }
}
