.fade-out-enter.fade-out-enter-active {
  transform: translate(0, -200px);
  transition: all 500ms ease-out;
  opacity: 0;
  background-color: #f1f1f1;
  color: #303030;
  z-index: -1;

  CheckoutItemRemove {
    color: #303030;
  }
}

.fade-out-exit.fade-out-exit-active {
  transform: translate(0, -200px);
  background-color: #f1f1f1;
  opacity: 0;
  color: #303030;
  z-index: -1;

  CheckoutItemRemove {
    color: #303030;
  }
}

.fade-out-exit-done {
  transform: translate(0, -200px);
  opacity: 0;
  background-color: #f1f1f1;
  color: #303030;
  z-index: -1;

  CheckoutItemRemove {
    color: #303030;
  }
}
