.checkout-item {
  width: 100%;
  height: 200px;
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  margin: 2.5px 0;
  border-radius: 8px;
  position: relative;
  z-index: 2;
  background-color: #303030;
  color: #f1f1f1;
  border-bottom: 1px solid darkgrey;

  &__inner {
    width: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 5px;

    &:first-of-type {
      width: 160px;
      margin-left: 0;
    }

    &:last-of-type {
      margin-right: 0;
    }
  }

  .image-container {
    width: 160px;
    height: 160px;

    overflow: hidden;
    border-radius: 14px;

    img {
      width: 100%;
    }
  }

  .quantity {
    display: flex;
    flex-direction: row;
    align-items: center;

    .arrow {
      cursor: pointer;

      display: flex;
      align-items: center;
    }

    .value {
      margin: 0 5px;
    }
  }

  .remove-button {
    cursor: pointer;
    color: #f1f1f1;
  }
}

.fade-out-enter.fade-out-enter-active {
  transform: translate(0, -200px);
  transition: all 500ms ease-out;
  opacity: 0;
  background-color: #f1f1f1;
  color: #303030;
  z-index: -1;

  .remove-button {
    color: #303030;
  }
}

.fade-out-exit.fade-out-exit-active {
  transform: translate(0, -200px);
  background-color: #f1f1f1;
  opacity: 0;
  color: #303030;
  z-index: -1;

  .remove-button {
    color: #303030;
  }
}

.fade-out-exit-done {
  transform: translate(0, -200px);
  opacity: 0;
  background-color: #f1f1f1;
  color: #303030;
  z-index: -1;

  .remove-button {
    color: #303030;
  }
}
