.sign-in-and-sign-up {
  max-width: 1300px;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
}

@media (max-width: 768px) {
  .sign-in-and-sign-up {
    flex-direction: column;
    align-items: center;
  }
}
