body {
  font-family: "Open Sans Condensed";
  padding: 0;
  margin: 0;
  overflow: hidden;
}

a {
  text-decoration: none;
  color: #000;
}

.body-container {
  margin: 70px auto 0px auto;
  max-width: 1300px;
  padding: 30px 60px;
}

.wrapper {
  overflow-y: scroll;
  max-height: 100vh;
}

.wrapper.wrapper--locked {
  overflow: hidden;
  pointer-events: none;
}

* {
  box-sizing: border-box;
}

@media (max-width: 768px) {
  .body-container {
    padding: 30px;
  }
}
