.cart-item {
  border-radius: 5px;
  width: calc(100% - 10px);
  display: flex;
  min-height: 90px;
  overflow: hidden;
  padding: 5px;
  background-color: #ddd;
  margin: 0 10px 10px 0;

  .cart-img {
    width: 80px;
    height: 80px;
    overflow: hidden;
    border-radius: 5px;

    img {
      max-width: 100%;
    }
  }

  .cart-line {
    background-color: #303030;
    height: 3px;
    width: 100%;
  }

  .item-details {
    width: 70%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding: 10px 20px;

    .name {
      font-size: 16px;
    }
  }
}
